
/* ESTILOS GERAIS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.img-topo-site{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-topo-site h3{
    margin-top: 10px;
    font-weight: 500;
}

h3{
    color: #8B6F47;
}

body{
    background-color: #D6BFA7;
    height: 100vh;
}

.interface{
    max-width: 1480px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* ESTILO DO CABEÇALHO */
header{
    padding: 40px 4%;
}

header h1{
    color: #8B6F47;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > .interface .logo a{
    display: inline-block;
    background-color: none;
}
.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #8B6F47;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: #000;
}

header a{
    color: #727272;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #000;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}
.btn-contato button:hover{
    box-shadow: 0px 0px 8px #8B6F47;
    transform: scale(1.05);
    transition: .2s;
}

/* Estilo do topo do site */
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #000;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #8B6F47;
    font-size: 84px;
}

.topo-do-site .txt-topo-site p{
    color: #000;
   margin: 40px 0;
}

.topo-do-site .img-topo-site{
    position: relative;
}

/* ESTILOS DAS ESPECIALIDADES */
section.especialidades{
    padding: 40px 4%;
}

section.especialidades h2{
    color: #000;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}

section.especialidades .flex{
    gap: 40px;
}

.especialidades-box{
    background-color: #C9A27E;
    padding: 30px;
    border-radius: 10px;
    transition: .2s;
}

.especialidades-box:hover{
    transform: translateY(-10px);
}

.especialidades-box i{
    font-size: 70px;
    color: #8B6F47;
}

.especialidades-box h3{
    color: #000;
    margin-top: 40px;
}

.especialidades-box p{
    color: #000;
   margin-top: 25px;
}

h2.titulo{
    padding: 40px 0;
    color: #000;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}

h2.titulo span{
    color: #8B6F47;
    font-size: 36px;
}

h3.subtitulo{
    color: #8B6F47;
    margin-top: 40px;
    font-size: 36px;
}

/* Estilos sobre mim */
section.sobre{
    padding: 80px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.img-sobre img{
    border-radius: 10px;
}

.txt-sobre h2{
    color: #000;
    font-size: 36px;
}

.txt-sobre h2 span{
    color: #8B6F47;
    display: block;
}

.txt-sobre p{
    color: #000;
   margin-top: 30px;
}

.img-sobre{
    border-radius: 30px;
}

i.bi-whatsapp{
    font-size: 30px;
    color: #000;
    margin-top: 50px;
}

i.bi-instagram{
    font-size: 30px;
    color: #000;
    margin-top: 50px;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #8B6F47;
    transition: .2s;
    cursor: pointer;
    margin: 10px;
}
.sobre .txt-sobre .btn-social button:hover{
    background-color: #8B6F47;
}

/* estilo do rotape */

footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding:20px 0;
}

.borda{
    border-top: 2px solid #8B6F47;
}

footer .line-footer p i{
    color: #8B6F47;
    font-size: 22px;
}

footer .line-footer p a{
    color: #000;
}

p{
    color: #000;
}

/* estilo do formulario */

section.formulario{
    padding: 80px 4%;
}

form{
    margin-top: 40px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea{
    width: 100%;
    background-color: #bd936c;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #000;
    font-size: 18px;
}

form input::placeholder{
    color: #000;
}

form input, form textarea::placeholder{
    color: #000;
}

form textarea{
    resize: none;
}

.btn-enviar{
    margin-top: 20px;
    text-align: center;
}

.titulo-formulario{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.titulo-formulario a button{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #8B6F47;
    transition: .2s;
    cursor: pointer;
    margin: 10px;
}

form .btn-enviar input[type="submit"]{
    width: 120px;
    cursor: pointer;
    background-color: #8B6F47;
    color: #000;
    font-weight: 700;
    transition: .2s;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #bd936c;
    transition: .2s;
}

@media screen and (max-width: 1020px){

    /* classes gerais */

    .img-topo-site h3{
    margin-top: 5px;
    font-size: 16px;
    }

    header > .interface{
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    header h1{
        text-align: center;
        width: 100%;
    }

    .flex{
        flex-direction: column-reverse;
        text-align: center;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
        text-align: center;
    }

    /* TITULOS CENTRALIZADOS */
    .topo-do-site h1{
        font-size: 30px;
        text-align: center;
    }

    .txt-topo-site p{
        text-align: center;
    }

    h2.titulo{
        font-size: 28px;
        text-align: center;
    }

    .txt-sobre h2{
        text-align: center;
    }

    .txt-sobre p{
        text-align: center;
    }

    .especialidades-box{
        text-align: center;
    }

    /* cabeçalho */
    .menu-desktop, .btn-contato{
        display: none;
    }

    /* topo do site */
    section.especialidades{
        padding: 20px 8%;
    }

    .topo-do-site .img-topo-site img{
        width: 100%;
    }

    section.topo-do-site .flex{
        gap: 40px;
    }


}

html {
    scroll-behavior: smooth;
}
